.Navbar_container {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1% 10%;
    border-bottom: 2px solid black;
    align-items: center;
}

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.Navbar_container .logo_container img {
    height: 100%;
}

.logo_container h1 {
    margin-left: 10%;
    font-size: xxx-large;
}

.Navbar_links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar_links li {
    list-style-type: none;
    /* margin: 0 5%; */
    padding: 2% 5%
}

.Navbar_links li:hover {
    background-color: var(--maincolor);
}

.Navbar_links button {
    background-color: var(--maincolor);
    border: none;
    width: 500px;
    border-radius: 10px;
    margin-left: 5%;
    font-size: medium;
    padding: 2% 0;
}

.Navbar_links button:hover {
    background-color: black;
    color: var(--maincolor);
}

.small_navbar_links {
    display: none;
}

@media only screen and (max-width: 600px) {
    .Navbar_links_container {
        display: none;
    }
    .small_navbar_links {
        display: block;
    }
    .Navbar_container .logo_container img {
        height: 60%;
    }
    .logo_container h1 {
        font-size: xx-large;
    }
    /* .Navbar_links {
        flex-direction: row;
         display: flex;
       align-items: center;
    } */
    .Navbar_links_container_checked {
        background-color: black;
        /* display: flex; */
        color: white;
        position: fixed;
        width: 100%;
        margin: 0;
        transform: translate(-10%, 61%);
        justify-content: center;
    }
    .Navbar_links {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        padding: 0;
    }
    .Navbar_links_container_checked .Navbar_links button {
        width: 200px;
    }
    .Navbar_links li {
        padding: 5% 0;
    }
}